/* trace letters */

body {
	overflow:auto;	 
	background-image: url("img/background.png");
	background-color:#615192;
	background-size: 200px;
	
   
}

.apple {
	width=100px;
	
}

.button, .buttonover {
	position:absolute;
	width:300px;
}

#leon2 {
	display:none;
}

.container {
	width: 300px;
	height: 300px;
	position: relative;
	display: inline-block;
}


#cont {
	text-align:center;
}

#character {
	display:inline-block;
	width:600px;
	height:600px;
	background-color:#615192;
	margin:70px;
	position:relative;
}

.hatch, .s {
	position:absolute;
	background-color:#261758;
	width:100px;
	height:90px;
	border-radius:20px;
}

.s {
	background-color:transparent;
	z-index:4;
}

.last{
	width:600px;
	height:600px;
	z-index:3;
}

.trans {
 background-color: transparent;
}

.imgcont {
	position:absolute;
	z-index:2;
}

#s17 {
	width:600px;
	height:600px;
	z-index:3;
}

